@font-face {
    font-family: Lemon-Milk-Light;
    src: url(../../config/font/LEMONMILK-Light.otf);
  }

@font-face {
    font-family: Lemon-Milk-Medium;
    src: url(../../config/font/LEMONMILK-Medium.otf);
  }

  @font-face {
    font-family: Lemon-Milk-Bold;
    src: url(../../config/font/LEMONMILK-Bold.otf);
  }