.navbar-logo {
    max-height: 40px;
}

@font-face {
    font-family: Lemon-Milk-Light;
    src: url(./font/LEMONMILK-Light.otf);
  }

@font-face {
    font-family: Lemon-Milk-Medium;
    src: url(./font/LEMONMILK-Medium.otf);
  }